{% extends 'sms/base.html' %}
{% block content %}

<center>
  <p class="bg-light">Fill Up the form to send the sms.</p>

<form class="form-group" class ="form" action=''  method='POST' >
{% csrf_token %}<br>Character Limit : 120<br>

<i style="display: none;" >{{ form.receiver}}</i>

<h4>Message</h4>

<center>{{form.message}}</center>

<h4>Receiver:</h4>


  {% for k in group_show %}
    <div class="btn btn-dark disabled" style="cursor:default;" >{{k | title}} </div>
  {% endfor %}

{% if form.errors %}
    <p><font color="red">No group selected.</font></p>

{% endif %}

  <div>
    <br><button class = "btn btn-outline-dark" type="submit">SEND</button>
    </div>
  </div>
</form>
</center>

{% endblock %}

